#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 100vw;
  height: 80vh;
}
#search {
  justify-self: center;
  align-self: center;
  margin: 2%;
}
#searchBox {
  margin: 2px;
  font-size: 15pt;
}
button {
  font-size: 15pt;
}
