#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.map-container {
  width: 100vw;
  height: 80vh;
}
#search {
  justify-self: center;
  align-self: center;
  margin: 2%;
}
#searchBox {
  margin: 2px;
  font-size: 15pt;
}
button {
  font-size: 15pt;
}
#alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  position: absolute;
  text-align: center;
  z-index: 5;
  width: 100vw;
}

#closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#closebtn:hover {
  color: black;
}
